{namespace Pagination}

/**
 * This renders the main element.
 * @param? elementClasses
 */
{template .render}
	<div class="pagination{$elementClasses ? ' ' + $elementClasses : ''}">
	</div>
{/template}
